# ==========================================
# 1. OGÓLNA KONFIGURACJA DOMEN I PORTÓW
# ==========================================
DOMAIN_AUTH=
DOMAIN_API=
DOMAIN_APP=
KEYCLOAK_MASTER_REALM=
KEYCLOAK_APP_REALM=
DOMAIN_TRAEFIK=

# ==========================================
# 2. ADRESY WEWNĘTRZNE (Docker Network)
# ==========================================
KEYCLOAK_INTERNAL_URL=


# ==========================================
# 3. SEKRETY I HASŁA
# ==========================================
# master realm
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ADMIN_EMAIL=
KC_MASTER_REQUIRE_REGISTER_WEBAUTHN=

# playground realm
KEYCLOAK_APP_REALM_ADMIN=
KEYCLOAK_APP_REALM_ADMIN_PASSWORD=
KEYCLOAK_APP_REALM_ADMIN_FNAME=
KEYCLOAK_APP_REALM_ADMIN_LNAME=
KEYCLOAK_APP_REALM_ADMIN_EMAIL=

# playground realm test users
KC_APP_TA=
KC_APP_TA_PASSWORD=
KC_APP_TA_EMAIL=
KC_APP_TA_FNAME=
KC_APP_TA_LNAME=
KC_APP_TU=
KC_APP_TU_PASSWORD=
KC_APP_TU_EMAIL=
KC_APP_TU_FNAME=
KC_APP_TU_LNAME=

# Keycloak Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backend Client
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# Application Database
APP_DB_NAME=
APP_DB_USER=
APP_DB_PASSWORD=
